@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Noto Sans Khmer', sans-serif;
}

a.active hr{
    display: block;
}


.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  ::-webkit-scrollbar{
    display: none;
  }

  @media (max-width:640px) {
    a.active{
        background-color: black;
        color: white;
    }
  }